body {
    width: 375px;
    background-color: hsl(217, 54%, 11%);
    padding: 50px 30px;
    font-size: 18px;
}

.card {
    background-color: hsl(216, 50%, 16%);
    padding: 25px;
    border-radius: 15px;
}

#image-equilibrium {
    width: 250px;
    border-radius: 15px;
}

.image {
    border-radius: 15px;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

h1 {
    color: hsl(0, 0%, 100%);
    font-size: 20px;
}